*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}
body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
   
}
.container{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 4rem;
    border-radius: 0.5rem;
    background: rgba(223, 223, 223, 0.662);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 1rem 0 #000000;
}
input {
    border: none;
    padding: 0.8rem;
    outline: none;
}
.input{
    background: transparent;
    box-shadow: 0 2px 0 0 #000000;
}
input::placeholder{
    color: #000000;
    transition: 200ms;
}
input:hover::placeholder{
    padding-left: 3px;
}
a{
    text-align: center;
    color: white;
    background: #0079FC;
    font-size: 1.3rem;
    padding: 0.7rem 2rem;
    border: solid 1px #0079FC;
    border-radius: 0.5rem;

    transition: 200ms;
}
a:hover{
    background: transparent;
    color: #0079FC;
}
.logoRens{
    text-align: center;
    font-size: 5rem;
}

@media screen and (max-width: 768px) {
    section, aside {
        width: 100%;
        padding: 0;
    }
    
}
@media screen and (max-width: 600px) {
    nav li{
        float: none;
        text-align: center;
        width: 100%;
    }
}