*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 100vh;
    background-image: url(../img/back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.menu_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    width: 100%;
    padding: 0 5%;
    background: rgba(223, 223, 223, 0.527);
    backdrop-filter: blur(5px);
}
.menu_bar ul{
    list-style: none;
    display: flex;
    
}
.menu_bar ul li{
    padding: 10px 30px;
    position: relative;
}
ul li a{
    color: black;
    text-decoration: none;
    font-size: 20px;

    transition: 200ms;
}
.menu_bar ul li a:hover{
    color: white;
}
.dropdown_menu{
    display: none;
}
.menu_bar ul li:hover .dropdown_menu{
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    border-radius: 0.5rem;
}
.menu_bar ul li:hover .dropdown_menu ul{
    display: block;
    margin: 0.5rem 0;
}
.menu_bar ul li:hover .dropdown_menu ul li{
    width: 150px;
    padding: 0.7rem 1rem;
}
.fa-solid{
    float: right;
    margin-left: 1rem;
    padding-top: 0.3rem;
}
.dropdown_menu-1{
    display: none;
}
.dropdown_menu ul li:hover .dropdown_menu-1{
    display: block;
    position: absolute;
    top: 0;
    left: 150px;
    background: white;
    border-radius: 0.5rem;
}
.dropdown_menu ul li a{
    font-size: 1rem;
}
.dropdown_menu ul li a:hover{
    color: blue;
}