<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Menu-shalom.css">
    <script defer src="../js/menu-shalom.js"></script>
    <script src="https://kit.fontawesome.com/c3cffe3b5e.js" crossorigin="anonymous" defer></script>
    <title>Menu</title>
</head>
<body>
    <header>
        <h1><span style="color: #2f3031;">Ren<span style="color: #253E76;">S</span></h1>
        <ul>
            <li>
                <a>Cadastro</a><i class="fa-solid fa-caret-down icon"></i>
                <div class="dropdown_menu">
                    <ul>
                        <li>
                            <a>Cliente</a><i class="fa-solid fa-caret-right icon"></i>
                            <div class="dropdown_menu-1">
                                <ul>
                                    <li><a onclick="getCadClientePF()">Cliente PF</a></li>
                                    <li><a onclick="getCadClientePJ()">Cliente PJ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Fornecedor</a></li>
                        <li><a href="/views/Login-Rens.html">Mercadoria</a></li>
                    </ul>
                </div>
            </li>
            <li>
                <a>Consultar</a><i class="fa-solid fa-caret-down icon"></i>
                <div class="dropdown_menu">
                    <ul>
                        <li>
                            <a onclick="getEstoque()">Estoque</a>
                        </li>
                        <li>
                            <a onclick="getSearchClient()">Cliente</a>
                        </li>
                        <li>
                            <a onclick="getConsultaPedidos()" >Pedidos</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a>Primissórias</a></li>
            <li><a>Pedidos</a></li>
            <li><a>Rotinas</a></li>
            <li><a>Alterar Senha</a></li>
            <li><a href="/views/Login-Rens.html">Sair</a></li>
        </ul>
    </header>
    <main>
        <div class="CadClientePF">
            <fieldset>
                    <form>
                        <legend>Formulário de Clientes PF</legend>
                        <button class="btn voltar" onclick="closePF()"><i class="fa-solid fa-xmark"></i></button>
                        
                        <div>
                            <div class="inputBox">
                                <input type="text" name="nome" id="nome" class="in" placeholder="Nome Completo" required>
                            </div>
                            <div class="inputBox">
                                <input type="email" name="email" id="email" class="in" placeholder="Email" required>
                            </div>
                            <div class="inputBox">
                                <input type="tel" name="telefone" id="telefone" class="in" placeholder="Telefone" required>
                            </div>
                            <div class="inputBox">
                                <input type="cpf" name="cpf" id="cpf" class="in" placeholder="CPF" required>
                            </div>
                            <div class="inputBox">
                                <input type="tel" name="telefone" id="telefone" class="in" placeholder="Tel Fixo" required>
                            </div>
                        </div>
                        <div>
                            <div class="sexo">
                                <div class="divSexo">
                                    <div>
                                        <input type="radio" id="feminino" label="feminino" name="genero" class="feminino" required>
                                        <label for="feminino">Feminino</label>
                                    </div>
    
                                    <div>
                                        <input type="radio" id="mascolino" name="genero" class="mascolino" required>
                                        <label for="mascolino">Maculino</label>
                                    </div>
                                    
                                    <div>
                                        <input type="radio" id="outro" name="genero" class="outro"  required>
                                        <label for="outro">outros</label>
                                    </div>
                                </div>
                            </div>
                            <div class="data">
                                <label type="data_nascimento">Nascimento:</label>
                                <input type="date" name="data de nascimento" id="data_nascimento" class="in" placeholder="" required>
                            </div>
                        </div>
                        <div>
                            <div class="inputBox">
                                <input type="text" name="cidade" id="cidade" class="in" placeholder="Cidade" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="estado" id="estado" class="in" placeholder="Estado" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="endereço" id="endereço" class="in" placeholder="Endereço" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="numero" id="numero" class="in" placeholder="Número" required>
                            </div>
                            <div class="inputBox">
                                <input type="cep" name="cep" id="cep" class="in" placeholder="CEP" required>
                            </div>
                        </div>

                        <div class="buttons">
                            <button type="button" class="btnPanel" id="gravar" form="action">
                                Gravar
                            </button>
                        
                            <button type="button" class="btnPanel" id="limpar" form="action">
                                Limpar
                            </button>
                        
                            <button type="button" class="btnPanel" id="excluir" form="action">
                                Excluir
                            </button>
                        
                            <button type="button" class="btnPanel" id="imprimir" form="action">
                                Imprimir
                            </button>
                        </div>
                    </form>
            </fieldset>
        </div>

        <div class="CadClientePJ">
            <fieldset>
                    <form>
                        <legend>Formulário de Clientes PJ</legend>
                        <button class="btn voltar" onclick="closePJ()"><i class="fa-solid fa-xmark"></i></button>
                        <div >
                            <div class="inputBox">
                                <input type="text" name="nomefantasia" id="nome" class="in" placeholder="Nome Fanatasia" required>
                            </div>
                            <div class="inputBox">
                                <input type="email" name="email" id="email" class="in" placeholder="Email" required>
                            </div>
                            <div class="inputBox">
                                <input type="tel" name="telefone" id="telefone" class="in" placeholder="Telefone:" required>
                            </div>
                            <div class="inputBox">
                                <input type="cpf" name="cnpj" id="cnpj" class="in" placeholder="CNPJ:" required>
                            </div>
                            <div class="inputBox">
                                <input type="tel" name="celular" id="celular" class="in" placeholder="Celular:" required>
                            </div>
                            <div class="inputBox">
                                <input type="tel" name="cad.estadual" id="cad.estadual" class="in" placeholder="Cad Estadual:" required>
                            </div>
                        </div>                        
                        <div >
                            <div class="inputBox">
                                <input type="text" name="cidade" id="cidade" class="in" placeholder="Cidade" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="estado" id="estado" class="in" placeholder="Estado" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="endereço" id="endereço" class="in" placeholder="Endereço" required>
                            </div>
                            <div class="inputBox">
                                <input type="text" name="numero" id="numero" class="in" placeholder="Número" required>
                            </div>
                            <div class="inputBox">
                                <input type="cep" name="cep" id="cep" class="in" placeholder="CEP" required>
                            </div>
                        </div>
                        <div class="buttons">
                            <button type="button" class="btnPanel" id="gravar" form="action">
                                Gravar
                            </button>
                        
                            <button type="button" class="btnPanel" id="limpar" form="action">
                                Limpar
                            </button>
                        
                            <button type="button" class="btnPanel" id="excluir" form="action">
                                Excluir
                            </button>
                        
                            <button type="button" class="btnPanel" id="imprimir" form="action">
                                Imprimir
                            </button>
                        </div>
                    </form>
            </fieldset>
        </div>

        <div class="Estoque">
            <fieldset>
                <form>
                    <legend>Estoque</legend>
                    <button class="btn voltar" onclick="closeEstoque()"><i class="fa-solid fa-xmark"></i></button>
                    <div >
                        <div class="inputBox">
                            <input type="text" name="produto" id="produto" class="in" placeholder="Produto" required>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="grupo" id="grupo" class="in" placeholder="grupo" required>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="vlcusto" id="vlcusto" class="in" placeholder="VlCusto" required>
                        </div>
                    </div> 
                    <div >
                        <div class="inputBox">
                            <input type="Vlvenda" name="Vlvenda" id="Vlvenda" class="in" placeholder="VlVenda" required>
                        </div>
                        <div class="inputBox">
                            <input type="estoquem" name="estoquem" id="estoquem" class="in" placeholder="Estoque Mínimo" required>
                        </div>
                        <div class="inputBox">
                            <input type="text" name="estoqueatu" id="estoqueatu" class="in" placeholder="Estoque Atual" required>
                        </div>
                    </div>
                    <div class="buttons">
                        <button type="button" class="btnPanel" id="gravar" form="action">
                            Gravar
                        </button>
                        <button type="button" class="btnPanel" id="limpar" form="action">
                            Limpar
                        </button>
                        <button type="button" class="btnPanel" id="excluir" form="action">
                            Excluir
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>

        <div class="search-client">
            <fieldset>
                <form>
                    <legend>Consulta Clientes</legend>
                    <button class="btn voltar" onclick="closeSearchClient()"><i class="fa-solid fa-xmark"></i></button>

                    <!-- // ==== content ==== -->
                    <div>
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                    </div>
                    
                    <div>
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                    </div>

                    <div class="buttons">
                        <button type="button" class="btnPanel" id="consultar" form="action">
                            Consultar
                        </button>
                        <button type="button" class="btnPanel" id="limpar" form="action">
                            Limpar
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>

        <div class="consulta-pedidos">
            <fieldset>
                <form>
                    <legend>Consulta Pedidos</legend>
                    <button class="btn voltar" onclick="closeConsultaPedidos()"><i class="fa-solid fa-xmark"></i></button>

                    <!-- // ==== content ==== -->
                    <div>
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                    </div>
                    
                    <div>
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                        <input type="text" placeholder="Content:...">
                    </div>

                    <div class="buttons">
                        <button type="button" class="btnPanel" id="consultar" form="action">
                            Consultar
                        </button>
                        <button type="button" class="btnPanel" id="limpar" form="action">
                            Limpar
                        </button>
                    </div>
                </form>
            </fieldset>
        </div>
    </main>
</body>
</html>