<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Menu-shalom.css">
    <script src="https://kit.fontawesome.com/c3cffe3b5e.js" crossorigin="anonymous" defer></script>
    <title>Menu</title>
</head>
<body>
    <div class="menu_bar">
        <h1><span style="color: #2f3031;">Ren<span style="color: #253E76;">S</span></h1>
        <ul>
            <li><a href="">home</a></li>
            <li>
                <a href="">Cadastro</a><i class="fa-solid fa-caret-down"></i>
                <div class="dropdown_menu">
                    <ul>
                        <li>
                            <a href="">Cliente</a><i class="fa-solid fa-caret-right"></i>
                            <div class="dropdown_menu-1">
                                <ul>
                                    <li><a href="../views/Cadastro_ClientePf.html">Cliente PF</a></li>
                                    <li><a href="../views/Cadastro_ClientePj.html">Cliente PJ</a></li>
                                </ul>
                            </div>
                        </li>
                        <li><a href="">Empresa</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="">Estoque</a></li>                        
            <li><a href="">Primissórias</a></li>
            <li><a href="">Rotinas</a></li>
            <li><a href="">Alterar Senha</a></li>
            <li><a href="../views/Login-Rens.html">Sair</a></li>
        </ul>
    </div>
    <main class="hero">
    </main>
    <footer>
    </footer>
</body>
</html>